# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: update-pnpm 
          command: 'sudo npm install -g pnpm@latest'

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: pnpm install --shamefully-flatten --frozen-shrinkwrap --force

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: pnpm test -- --ci --coverage

      - run: cat coverage/lcov.info | pnpm run coveralls